<div class="row text-center">
  <div class="large-12 columns">
    <h3> Welcome <%= @user.username %>, go to your profile <%= link_to "profile", root_path %> </h3>
    <h5>Here is a list of all the users</h5>
    <ul>
      <% for user in @users %>
        <li><%= user.username%> <%=link_to "Add Friend", root_path unless user.id == current_user.id%></li>
      <% end %>
    </ul>
  </div>
</div>