<div class="row">
  <div class="center">
    <%=link_to "sign in", new_user_session_path, class: "button small element-center" %>  <%=link_to "sign out", new_user_registration_path, class: "button  secondary small element-center"%>
  </div>
</div>